body {
    font-family: Arial, sans-serif;
}



.item3{
    background-color: #f7f8f9;
    
}

.item4 {
    background-color: #f05638;
    justify-content: center;
    
}



.item6 {
    background-color: white;
    font-size: small;
}

.item7{
    background-color: #8f76bc;

    
    
}

.item9{
    background-color: #93b6b7;
}

.item10 {
    background-color: lightblue;
}

.item11 {
    background-color: white;
}

.item12 {
    background-color: black;
    color: white;
 
}
/* 
img {
    width: 100%;
    height: auto;
} */
img {
    width: 50%;  
    height: auto;  
}

button {
    display: block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color:#ffc80a ;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 2em;
}

button:hover {
    background-color: #0056b3;
}
@media only screen and (max-width: 600px){
    .container {
        display: grid;
        grid-template-columns:1fr;
        grid-template-rows: 1fr;
       /* gap: 20px;
        padding: 20px;*/
       

      
    }

img{
    width: 50%;
}

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 601px) {


.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, auto);
    gap: 20px;
    padding: 20px;
   
  
}
.item1 {
    grid-row: 1/2;
}

.item2{
    grid-column: 2/3;
}
.item3{
    grid-column: 3/5;
    
}

.item4 {
    grid-row: 2/3;
    
}

.item5{
    grid-column: 2/3;
}


.item6 {
    grid-column: 3/4;
}

.item7{

    grid-column: 4/5 ;
    grid-row: 2/4;
    
    
}
.item8{
    grid-row: 3/4;
}
.item9{
    grid-column: 2/4;
}

.item10 {
    grid-row: 4/5;
}

.item11 {

    grid-column: 2/3;
}

.item12 {

    grid-column: 3/-1;
    display: flex;
    flex-direction: row;
}




}
